<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UranusCoreEndpoint" closeTimeout="Infinite" openTimeout="Infinite" receiveTimeout="Infinite" sendTimeout="Infinite" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22963/Bayometric/BFSAPI/soap"
                binding="basicHttpBinding" bindingConfiguration="UranusCoreEndpoint"
                contract="UranusCoreAPIServiceReference.UranusCore" name="UranusCoreEndpoint" />
        </client>
    </system.serviceModel>
</configuration>
